# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.idea/
*.iml

# Android
android/.gradle/
android/local.properties
android/app/release/
**/*.keystore

# macOS
.DS_Store
